<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="navbar-left" >
        <%= link_to "Sample App", 'home', id: "logo" %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", "home" %></li>
        <li><%= link_to "Help", "help" %></li>
        <li><%= link_to "Log in", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
